@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  list-style: none;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  body {
    @apply bg-gray-600/80 text-gray-100 p-2;
  }
  button {
    @apply cursor-pointer border-none;
  }
  main {
    @apply px-2 max-w-[1200px] mx-auto overflow-y-auto;
  }
  .mainDashboard {
    @apply max-h-screen min-h-screen;
  }
}
